.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child span {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child span {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li span {
  background-color: #aaa;
  color: #fff;
  border-radius: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #aaa;
  z-index: 1;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #aaa #aaa #aaa transparent;
  z-index: 0;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}

.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active span {
  background-color: #428bca;
}
.nav-pills.nav-wizard > li.saved .nav-arrow {
  border-color: transparent transparent transparent #82B6E4;
}
.nav-pills.nav-wizard > li.saved .nav-wedge {
  border-color: #82B6E4 #82B6E4 #82B6E4 transparent;
}
.nav-pills.nav-wizard > li.saved span {
  background-color: #82B6E4;
}