<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travel - New Request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/core/media/media.nl?id=34596&c=3883006&h=805fe39ee25afab45d89&_xt=.css"><!-- Bootstrap -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57173&c=3883006&h=7f29b8cee7b2f20b58d6&_xt=.css"><!-- Bootstrap Theme -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57174&c=3883006&h=6b4b7ff07e092058a8f7&_xt=.css"><!-- Date Picker -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57175&c=3883006&h=91ff8387278fa961e93f&_xt=.css"><!-- Progress Bar 1 -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57176&c=3883006&h=ff6df52f0899c5b56202&_xt=.css"><!-- Progress Bar 2 -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57177&c=3883006&h=b471cc11c88188feac19&_xt=.css"><!-- Data Table -->
  <link rel="stylesheet" href="/core/media/media.nl?id=59689&c=3883006&h=e8ec08bc49660a27f8b4&_xt=.css"><!-- jQuery UI -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><!-- jQuery UI theme -->
  <script src="/core/media/media.nl?id=34598&c=3883006&h=d3700b1dca852b6e2a66&_xt=.js"></script><!-- jQuery -->
  <script src="/core/media/media.nl?id=57179&c=3883006&h=c0b97e55c548a213ae8d&_xt=.js"></script><!-- Data Table -->
  <script src="/core/media/media.nl?id=34597&c=3883006&h=44995a0b6c4e935c2c4f&_xt=.js"></script><!-- Bootstrap -->
  <script src="/core/media/media.nl?id=59688&c=3883006&h=653500532073ea442ab4&_xt=.js"></script><!-- jQuery UI -->
  <script src="/core/media/media.nl?id=57178&c=3883006&h=3cdbaf4011a60038d02c&_xt=.js"></script><!-- Date Picker -->
  <style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  .custom-combobox-input
  {
	background: transparent;
  }
  .glyphicon-question-sign
  {
	color: #ccc;
  }
	
  .edit-mode
  {
	display:{{display}};
  }
	
  .travel-summary
  {
	display:{{display-travel-summary}};
  }
	
  .hide
  {
	display:none;
  }
	
  .show
  {

  }
	
  .navbar
  {
	font-weight:bold;
  }
	
  .additional-file-upload
  {
	display:{{display-additional-file-upload}};
  }
	
  .form-horizontal .control-label
  {
	text-align: left;
  }
	
  .not-active 
  {
	/*pointer-events: none;
	cursor: default;*/
  }
  
  .international_fields
  {
	display: {{show-international-fields}};
  }
  
  .gt-fields
  {
	display: {{show-gt-fields}};
  }
  
  .file-delete-mode
  {
	display: {{allow-file-delete}};
  }
  </style>
  <script>
  (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
		  .attr( "placeholder", "Type to search.." )
		  .attr( "required", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
		
		refreshCombo: function() {
			this.input
          .val( "" );
		},
		
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
 
  $(function() {
    $( "#customer" ).combobox({select:function() {
 var customer_project_data	=	{{customer-project-json}};
 
 var parent = $(this).val();
 
 var array_list	=	customer_project_data[parent].list;
 
 list(array_list);
 $("#project").combobox("refreshCombo");
 //$("#project").autocomplete("search", "");
 }});
 
 $("#origin").combobox();
 $("#destination").combobox();
 $("#domestic_country").combobox();
 if($('select#gt_timesheet_approver option').length > 0)
 {
	$("#gt_timesheet_approver").combobox();
 }
 if($('select#gt_expense_approver option').length > 0)
 {
	$("#gt_expense_approver").combobox();
 }
 
 $('#passport_upload').change(function(){
		$('#subfile').val($(this).val().split("\\").pop());
	});

});
  </script>
  <script type="text/javascript">
$(document).ready(function () 
{
	// default validation
	if($("input[name='travel_type']:checked").val() == 2)
	{
		$("div.international").show();
	
		$("#onsite_duration").attr("required", "");
		//$("#onsite_contact_number").attr("required", "");
		$("#visa_category").attr("required", "");
	}
	else
	{
		$("div.international").hide();
		
		$("#onsite_duration").removeAttr("required");
		//$("#onsite_contact_number").removeAttr("required");
		$("#visa_category").removeAttr("required");
	}
	
    $("input[name='travel_type']").change(function () { // change event on radio button
        $("div.international").toggle(this.value == 2); // if selected radio button has value yes than return true i.e. show else false i.e. hide
		if(this.value == 2)
		{
			$("#onsite_duration").attr("required", "");
			//$("#onsite_contact_number").attr("required", "");
			$("#visa_category").attr("required", "");
		}
		else
		{
			$("#onsite_duration").removeAttr("required");
			//$("#onsite_contact_number").removeAttr("required");
			$("#visa_category").removeAttr("required");
		}
	});
	
	$(".not-active").click(function() { alert('Please enter at least one travel segment.'); return false;} );
	
	$("#next_step").click
	(
		function() 
		{	
			if($("#departure_date").val() != ''
				|| $("#origin").val() != ''
				|| $("#destination").val() != '')
				{
					alert('Please save the data before proceeding.');
					return false;
				}
		}
	);
	
	//$('.combobox').combobox();
	$( "#project" ).combobox();

var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	
	$('.form-control.datepicker').datepicker({format: "dd-M-yyyy", autoclose: true, startDate: (now)});
	
	//$("#request_type option[value='2']").prop("disabled", true);
	//$("#request_type option[value='3']").prop("disabled", true);
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
 
 function list(array_list)
 {
 $("#project").html("<option value=\"\">Please Select a Project</option>"); //reset child options
 $(array_list).each(function (i) { //populate child options
 $("#project").append("<option value=\""+array_list[i].id+"\">"+array_list[i].entityid+" "+array_list[i].value+"</option>");
 });
 }

</script>
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><img src="/core/media/media.nl?id=57180&c=3883006&h=9be30320dbb3dc0c5b2f" height="30px" /></span>
		</div>
        <div id="navbar" class="collapse navbar-collapse">
          
		 
		  <ul class="nav navbar-nav">
			<li><a href="/app/center/card.nl?sc=-29&whence="><span class="glyphicon glyphicon-home"></span> NetSuite</a></li>
			<li class="active"><a href="{{new_request_url}}">New Request</a><li>
            <li><a href="{{my_requests_url}}">My Requests</a></li>
            <li><a href="{{approve_requests_url}}">Approve Requests</a></li>
            <li><a href="#contact">Help</a></li>
			<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Flow</span></a>
          <ul class="dropdown-menu">
            <li><a href="/core/media/media.nl?id=59041&c=3883006&h=e976d5284c2f158dc99a" target="_blank">Domestic Flow</a></li>  
            <li><a href="/core/media/media.nl?id=59042&c=3883006&h=aa643179b8df28652a96" target="_blank">International Flow</a></li>			
          </ul>
        </li>
          </ul>
		  
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-weight:normal">{{username}}</span> <span style="padding-left:5px;font-weight:normal;" class="glyphicon glyphicon-user"></span></a>
				<ul class="dropdown-menu">
					<li><a><span class="glyphicon glyphicon-cloud"></span> {{role}}</a></li>         
					<li role="separator" class="divider"></li>
					<li><a href="/pages/nllogoutnoback.jsp"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
				</ul>
			</li>
		</ul>  
		  
        </div><!--/.nav-collapse -->
      </div>
</nav>
<div class="container">
	<!--<h2>Enter Travel Details</h2>  -->
	<div class="alert alert-{{message-status}}" style="{{message-display}}">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{message}}</strong>
	</div>
	<div id="wizard">
	<!-- Step 1: Basic Info -->
	<div class="{{enter-tr}}">{{header-data-input}}</div>
	<!-- Step-2: Travel Segments -->	
	<div class="travel_segments_step">
		<form name="add_segment_form" id="add_segment_form" class="form-horizontal {{edit-tr}}" role="form" method="POST" action="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_2}}">
			<input name="tr_id" id="tr_id" type="hidden" value="{{tr-id}}"/>
			<input name="tri_id" id="tri_id" type="hidden" value="{{tri-id}}"/>	
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">						
						<div class="col-md-6" style="text-align:left;">
							<ul class="nav nav-pills nav-wizard">
								<li class="saved"><span class="tab">Basic Info</span><div class="nav-arrow"></div></li>
								<li class="active"><div class="nav-wedge"></div><span class="tab">Travel Segments</span><div class="nav-arrow"></div></li>
								<li><div class="nav-wedge"></div><span class="tab">Preview & Submit</span></li>
							</ul>
						</div>
						<div class="col-md-6" style="text-align:right;">
							<a id="previous_step" name="previous_step" href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_mode=edit_header&custparam_next_step={{step_1}}" class="btn btn-default">Previous</a>
							<a id="next_step" name="next_step"  href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_3}}" class="btn btn-primary {{preview_link_disable}}">Preview</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default edit-mode">
				<!-- Default panel contents -->
				<div class="panel-heading"><span class="glyphicon glyphicon-briefcase"></span> Travel Itinerary</div>
				<div class="panel-body">
				<!-- Table -->
				<table class="table table-striped">
					{{list}}
				</table>
				<hr />
				<h3><small>{{add-edit-segment-heading}} Travel Segment</small></h3>
				<div class="row form-group">
						<div class="col-sm-3">
							<label class="control-label" for="departure_date">Departure Date <span style="color:red; font-weight:bold;">*</span></label>
							<input name="departure_date" id="departure_date" value="{{departure-date-value}}" type="text" class="form-control datepicker" required>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="origin">Origin <span style="color:red; font-weight:bold;">*</span></label><br />
							<select class="form-control" name="origin" id="origin" required>{{origin}}</select>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="destination">Destination <span style="color:red; font-weight:bold;">*</span></label><br />
							<select class="form-control" name="destination" id="destination" required>{{destination}}</select>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="mode_of_travel">Mode of Travel <span style="color:red; font-weight:bold;">*</span></label>
							<select class="form-control" name="mode_of_travel" id="mode_of_travel" required>{{mode-of-travel}}</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-3">
							<label class="control-label" for="meal_seat_preference">Meal/Seat Preference</label>
							<input class="form-control" name="meal_seat_preference" id="meal_seat_preference" value="{{meal-seat-preference-value}}" placeholder="Meal/Seat Preference"/>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="hotel_required">Hotel Required</label>
							<select class="form-control" name="hotel_required" id="hotel_required">{{hotel-required}}</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="text-align:right;">
								<a id="cancel_edit_segment" name="cancel_edit_segment" href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_2}}" class="btn btn-default {{show-hide-cancel-button}}">Cancel</a>
								<input id="add_segment" name="add_segment" type="submit" class="btn btn-primary" value="{{add-edit-segment}}"/>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Step 3: Preview and Submit -->
	<div class="{{preview_and_submit}}">
		{{progress-bar}}
		<form class="form-horizontal" role="form" method="POST" action="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_3}}">
			<input name="tr_id" id="tr_id" type="hidden" value="{{tr-id}}"/>
				<div class="panel panel-default edit-mode">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6" style="text-align:left;">
								<ul class="nav nav-pills nav-wizard">
									<li class="saved"><span class="tab">Basic Info</span><div class="nav-arrow"></div></li>
									<li class="saved"><div class="nav-wedge"></div><span class="tab">Travel Segments</span><div class="nav-arrow"></div></li>
									<li class="active"><div class="nav-wedge"></div><span class="tab">Preview & Submit</span></li>
								</ul>
							</div>
							<div class="col-md-6" style="text-align:right;">
								<a id="previous_step" name="previous_step" href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_2}}" class="btn btn-default">Previous</a>
								<input id="submit_travel_request" name="submit_travel_request" type="submit" class="btn btn-primary" value="Submit"/>
							</div>
						</div>
					</div>
				</div>
			</form>
		<div class="panel panel-default travel-summary">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						{{tr-name}} - <b>{{travel-short-description}}</b>
					</div>
					<div class="col-md-6" style="text-align:right;">
						<a style="color:#fff;" href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_mode=edit_header&custparam_next_step={{step_3}}" class="edit-mode"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row" style="padding-bottom:10px">
					<div class="col-md-3">
						<b>Employee</b><br />{{employee-name}}
					</div>
					<div class="col-md-6"> 
						<b>Project</b><br />{{project-name}}
					</div>
					<div class="col-md-3"> 
						<b>Type</b><br />{{domestic-international}} ({{request-type}})
					</div>
				</div>
				<div class="row" style="padding-bottom:10px;">
					<div class="col-md-3">
						<b>Client Partner</b><br />{{client-partner}}
					</div>
					<div class="col-md-3">
						<b>Delivery Manager</b><br />{{delivery-manager}}
					</div>
					<div class="col-md-3">
						<b>Sub-Practice Head</b><br />{{sub-practice-head}}
					</div>
					<div class="col-md-3">
						<b>Travel Approver:</b><br />{{next-approver}}
					</div>
				</div>
				<div class="row" style="padding-bottom:5px">
					<div class="col-md-3">
						<b>Destination Country</b><br />{{domestic-country}}
					</div>
					<div class="col-md-3">
						<b>Work Address</b><br />{{work-address}}
					</div>
					<div class="col-md-3"> 
						<b>Zip Code</b><br />{{zip-code}}
					</div>
				</div>
				<div class="row" style="padding-bottom:5px">
					<div class="col-md-3">
						<b>Employee Level</b><br/>{{employee-level}}
					</div>
					<div class="col-md-3">
						<b>Mobile Number</b><br />{{mobile-number}}
					</div>
					<div class="col-md-3">
						<b>Forex or Advance</b><br />{{travel-advance-currency}} {{forex-or-advance}}
					</div>
					<div class="col-md-3"> 
						<b>Per Diem</b><br />{{per-diem}}
					</div>
				</div>
				<div class="row gt-fields">
					<div class="col-md-3">
						<b>Bill Rate</b><br />{{gt-bill-rate}}
					</div>
					<div class="col-md-3">
						<b>Timesheet Approver</b><br />{{gt-timesheet-approver}}
					</div>
					<div class="col-md-3">
						<b>Expense Approver</b><br />{{gt-expense-approver}}
					</div>
					<div class="col-md-3">
						<b>Allocation Dates</b><br />{{gt-allocation-start-date}} <i>to</i> {{gt-allocation-end-date}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 international_fields">
						<b>Visa Type</b><br />{{visa-category}} ({{visa-type}})
					</div>
					<div class="col-md-3 international_fields"> 
						<b>Onsite Contact Number</b><br />{{onsite-contact-number}}
					</div>
					<div class="col-md-3 international_fields">
						<b>Onsite Duration(Days)</b><br />{{onsite-duration}}
					</div>
					<div class="col-md-3"> 
						<b>Remarks</b><br />{{remarks}}
					</div>
				</div>
			</div>
		</div>
		
		<!-- Travel Segments(Preview Page) -->
		<div class="panel panel-default {{travel-segments-preview-show-hide}}">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">
						<span class="glyphicon glyphicon-briefcase"></span> Travel Itinerary
					</div>
					<div class="col-md-6" style="text-align:right;">
						<a style="color:#fff;" href="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_2}}" class="edit-mode"><span class="glyphicon glyphicon-plus"></span> Add</a>
					</div>
				</div>
			</div>
			<!-- Table -->
			<table class="table table-striped">
				{{list}}
			</table>
		</div>
		
		<!-- Attachments -->
		<div class="panel panel-default {{attachments-show-hide}}">
			<div class="panel-heading"><span class="glyphicon glyphicon-paperclip"></span> Attachments</div>
			<div class="panel-body">
				<table class="table table-striped">
					{{attachments}}
				</table>
				<form name="file_upload" role="form" method="POST" enctype="multipart/form-data" class="form-inline additional-file-upload" action="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_3}}">
					<input name="tr_id" id="tr_id" type="hidden" value="{{tr-id}}"/>
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<!--<label class="control-label" for="additional_files_upload">Upload File</label>-->
									<span class="btn btn-primary btn-file">Choose File
										<input type="file" id="additional_files_upload" name="additional_files_upload" />
									</span>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label class="control-label" for="file_description">Description</label>
									<input name="file_description" id="file_description" type="text" class="form-control" required/>
								</div>
							</div>
							<div class="col-sm-4">
								<input name="file_upload" type="submit" class="btn btn-primary" value="File Upload"/>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default {{billable-items-show-hide}}">
			<div class="panel-heading">Billable Items</div>
			<div class="panel-body">
				{{approver-checklist}}
			</div>
		</div>
		
		<!-- Approval Log -->
		<div class="panel panel-default {{approval-log-show-hide}}">
			<div class="panel-heading">Approval Log</div>
			<!-- Table -->
			<table class="table table-striped">
				{{approval-log}}
			</table>
		</div>	
		
	</div>
  </div>

	<form class="form-horizontal" role="form" method="POST" action="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&custparam_tr_id={{tr-id}}&custparam_next_step={{step_3}}">
		<input name="tr_id" id="tr_id" type="hidden" value="{{tr-id}}"/>
		<div class="panel panel-default {{approval-show-hide}}">
			<div class="panel-heading">Approve Travel Request</div>
			<div class="panel-body">
				<div class="row {{billable-items-input-show-hide}}">
					<div class="col-sm-12">
						<div class="panel panel-default">
							<h3>Billable Items</h3>
							<div class="panel-body">
								{{approver-checklist}}
							</div>
							<h3 class="gt-fields">Global Transfer</h3>
							<div class="panel-body gt-fields">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label col-md-4" for="gt_bill_rate">
												Bill Rate
												<span style="color:red; font-weight:bold;">*</span>
											</label>
											<div class="col-md-6 col-md-6">
												<input class="form-control" value="" style="" name="gt_bill_rate" id="gt_bill_rate" placeholder="Enter Bill Rate" {{gt-required-fields}}/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label col-md-4" for="gt_timesheet_approver">
												Timesheet Approver
												<span style="color:red; font-weight:bold;">*</span>
											</label>
											<div class="col-md-6 col-md-6">
												<select class="form-control" name="gt_timesheet_approver" id="gt_timesheet_approver" {{gt-required-fields}}>{{gt_timesheet_approver}}</select>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label col-md-4" for="gt_expense_approver">
												Expense Approver
												<span style="color:red; font-weight:bold;">*</span>
											</label>
											<div class="col-md-6 col-md-6">
												<select class="form-control" name="gt_expense_approver" id="gt_expense_approver" {{gt-required-fields}}>{{gt_expense_approver}}</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label col-md-4" for="gt_allocation_start_date">
												Allocation Start Date
												<span style="color:red; font-weight:bold;">*</span>
											</label>
											<div class="col-md-6 col-md-6">
												<input name="gt_allocation_start_date" id="gt_allocation_start_date" value="" type="text" class="form-control datepicker" {{gt-required-fields}}>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="control-label col-md-4" for="gt_allocation_end_date">
												Allocation End Date
												<span style="color:red; font-weight:bold;">*</span>
											</label>
											<div class="col-md-6 col-md-6">
												<input name="gt_allocation_end_date" id="gt_allocation_end_date" value="" type="text" class="form-control datepicker" {{gt-required-fields}}>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row additional-file-upload">
					<div class="col-md-12">
						{{send-attachment-list}}
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-6">
						<label class="control-label" for="approver_remarks">Remarks:</label>
						<textarea name="approver_remarks" id="approver_remarks" type="text" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input id="approve" name="approve" type="submit" class="btn btn-primary" value="Approve"/>
						<input id="reject" name="reject" type="submit" class="btn btn-danger" value="Reject"/>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
</div>

</body>
</html>
