<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse" width="80%">
	<tr>
		<td>TR #</td>
		<td>${customrecord.name}</td>
	</tr>
	<tr>
		<td>Travel Type:</td>
		<td>${customrecord.custrecord_tr_travel_type} (${customrecord.custrecord_tr_request_type})</td>
	</tr>
	<tr>
		<td>Travel Title</td>
		<td>${customrecord.custrecord_tr_short_description}</td>
	</tr>
	<tr>
		<td>Employee</td>
		<td>${customrecord.custrecord_tr_employee}
	</tr>
	<tr>
		<td>Employee Level</td>
		<td>${customrecord.custrecord_tr_employee_level}
	</tr>
	<tr>
		<td>Mobile Number</td>
		<td>${customrecord.custrecord_tr_mobile_number}
	</tr>
	<tr>
		<td>Customer : Project</td>
		<td>${customrecord.custrecord_tr_project}</td>
	</tr>
	<tr>
		<td>Purpose</td>
		<td>${customrecord.custrecord_tr_purpose_of_travel}</td>
	</tr>
	<tr>
		<td>Destination Country</td>
		<td>${customrecord.custrecord_tr_country}</td>
	</tr>
	<tr>
		<td>Work Address</td>
		<td>${customrecord.custrecord_tr_work_address}</td>
	</tr>
	<tr>
		<td>Zip Code</td>
		<td>${customrecord.custrecord_tr_zip_code}</td>
	</tr>
	<tr>
		<td>Per Diem</td>
		<td>${customrecord.custrecord_tr_per_diem}</td>
	</tr>
	<tr>
		<td>Travel Advance</td>
		<td>${customrecord.custrecord_tr_advance_currency} ${customrecord.custrecord_tr_forex_or_advance}</td>
	</tr>
	<tr>
		<td>Visa Type</td>
		<td>${customrecord.custrecord_tr_visa_category} (${customrecord.custrecord_tr_visa_type})</td>
	</tr>
	<tr>
		<td>Onsite Duration</td>
		<td>${customrecord.custrecord_tr_onsite_duration} days</td>
	</tr>
	<tr>
		<td>Onsite Contact Number</td>
		<td>${customrecord.custrecord_tr_onsite_contact_number}</td>
	</tr>
	<tr>
		<td>Remarks</td>
		<td>${customrecord.custrecord_tr_remarks}</td>
	</tr>
	<#if customrecord.custrecord_tr_travel_type.id == "2" && customrecord.custrecord_tr_visa_type.id == "1" && customrecord.custrecord_tr_status.id != "1" && customrecord.custrecord_tr_status.id != "2">
		<tr>
			<td>GT Bill Rate</td>
			<td>{{gt_bill_rate}}</td>
		</tr>
		<tr>
			<td>GT Timesheet Approver</td>
			<td>${customrecord.custrecord_tr_gt_timesheet_approver}</td>
		</tr>
		<tr>
			<td>GT Expense Approver</td>
			<td>${customrecord.custrecord_tr_gt_expense_approver}</td>
		</tr>
		<tr>
			<td>GT Allocation Start Date</td>
			<td>${customrecord.custrecord_tr_gt_allocation_start_date}</td>
		</tr>
		<tr>
			<td>GT Allocation End Date</td>
			<td>${customrecord.custrecord_tr_gt_allocation_end_date}</td>
		</tr>
	</#if>
</table>
<br/>
<h4>Segment Details</h4>
<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse" width="80%">
<thead>
	<tr>
		<th style="background-color:#E0E6EF;">Departure Date</th>
		<th style="background-color:#E0E6EF;">Origin</th>
		<th style="background-color:#E0E6EF;">Destination</th>
		<th style="background-color:#E0E6EF;">Mode Of Travel</th>
		<th style="background-color:#E0E6EF;">Meal/Seat Preference</th>
		<th style="background-color:#E0E6EF;">Hotel Required</th>
	</tr>
</thead>
<tbody>
	<#list customrecord.recmachcustrecord_trli_travel_request as li>
	<tr>
	<td align="center">${li.custrecord_trli_departure_date?date?string["EEE, d MMM, yyyy"]}</td>
	<td align="center">${li.custrecord_trli_origin_city}</td>
	<td align="center">${li.custrecord_trli_destination_city}</td>
	<td align="center">${li.custrecord_trli_mode_of_travel}</td>
	<td align="center">${li.custrecord_trli_meal_seat_preference}</td>
	<td align="center">${li.custrecord_trli_hotel_required}</td>
	</tr>
	</#list>
</tbody>
</table>
<br/>
<h4>Billable Items</h4>
<#list customrecord.recmachcustrecord_trmc_travel_request as li>
	${li.custrecord_trmc_item} - ${li.custrecord_trmc_value} <br />
</#list>
<#if (customrecord.recmachcustrecord_tral_id?size > 0)>
<h4>Activity Log</h4>
<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse" width="80%">
<thead>
	<tr>
	<th style="background-color:#E0E6EF;">Date</th>
	<th style="background-color:#E0E6EF;">User</th>
	<th style="background-color:#E0E6EF;">Action</th>
	<th style="background-color:#E0E6EF;">Remarks</th>
	</tr>
</thead>
<tbody><#list customrecord.recmachcustrecord_tral_id as li>
	<tr>
	<td align="center">${li.custrecord_tral_date?date}</td>
	<td align="center">${li.custrecord_tral_approved_by}</td>
	<td align="center">${li.custrecord_tral_approver_role} ${li.custrecord_tral_approver_action}</td>
	<td align="center">${li.custrecord_tral_remarks}</td>
	</tr>
	</#list>
</tbody>
</table></#if>