<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/app/site/hosting/scriptlet.nl?script={{script-id}}&deploy=1&next_step={{next-step}}">
	<div class="panel panel-default">
	<div class="panel-body" style="background-color:#676767;">
	<input name="custparam_tr_id" id="custparam_tr_id" type="hidden" value="{{tr-id}}"/>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6" style="text-align:left;">
							<ul class="nav nav-pills nav-wizard">
								<li class="active"><span class="tab">Basic Info</span><div class="nav-arrow"></div></li>
								<li><div class="nav-wedge"></div><span class="tab">Travel Segments</span><div class="nav-arrow"></div></li>
								<li><div class="nav-wedge"></div><span class="tab">Preview & Submit</span></li>
							</ul>
						</div>
						<div class="col-md-6" style="text-align:right;">
							<input name="{{button_name}}" type="submit" class="btn btn-primary" value="Save &amp; Next"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="travel-type">Travel Type</label>
								<div class="control-label col-sm-6" style="text-align:left;">
									{{domestic_international}}
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">
									Type of Request
									<a href="#" data-toggle="tooltip" title="Select 1.Self for your own Travel 2.Dependant to raise request for your dependants 3.Non-Employee for any other."><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-sm-6 col-md-6">
									<select class="form-control" name="request_type" id="request_type">{{request_type}}</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="travel_description">Travel Title <span style="color:red; font-weight:bold;">*</span></label>
								<div class="col-sm-7 col-md-7">		
									<input class="form-control" value="{{travel_description}}" name="travel_description" id="travel_description" placeholder="Enter Travel Description" required>
									<small class="help-block">e.g. PAKS Conference.</small>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="purpose_of_travel">
									Purpose of Travel
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Select Project/Services if your travel is project related. Select the other options based on your travel purpose"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-sm-6 col-md-6">
									<select class="form-control" name="purpose_of_travel" id="purpose_of_travel" required>{{purpose_of_travel}}</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="customer">
									Customer <span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Customer selection determines the projects that are loaded in Project dropdown"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="ui-widget col-sm-7 col-md-7">
									<select class="form-control" name="customer" id="customer" required>{{customer_options}}</select>
									<small class="help-block">For internal projects select "Brillio Technologies Pvt Ltd"</small>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="project">
									Project
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="The project list can be changed by changing the Customer"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="ui-widget col-sm-7 col-md-7">
									<select name="project" id="project" required>{{project_options}}</select>
								</div>
							</div>						
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="domestic_country">
									Destination Country
									<span style="color:red; font-weight:bold;">*</span>
								</label>
								<div class="col-sm-7 col-md-7">
									<select class="form-control" name="domestic_country" id="domestic_country" required>{{country_list}}</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="mobile_number">
									Mobile Number
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Personal mobile number to receive correspondence"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-sm-7 col-md-7">
									<input class="form-control" value="{{mobile_number}}" name="mobile_number" id="mobile_number" pattern="^[0-9_.+\- \(\)]{5,}$" placeholder="Enter your Mobile Number" required>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="work_address">
									Work Address
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Hotel bookings are based on the work address entered"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-sm-7 col-md-7">
									<textarea class="form-control" name="work_address" id="work_address" placeholder="Enter the Work Address" required>{{work_address}}</textarea>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="zip_code">
									Zip Code
									<span style="color:red; font-weight:bold;">*</span>
								</label>
								<div class="col-sm-7 col-md-7">
									<input class="form-control" value="{{zip_code}}" name="zip_code" id="zip_code" placeholder="Enter Zip Code for the Work Address" required>    
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="per_deim">
									Per Diem
									<span style="color:red; font-weight:bold;">*</span>
								</label>
								<div class="col-md-6 col-md-6">
									<select class="form-control" name="per_diem" id="per_diem" required>{{per_diem}}</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="forex_or_advance">
									Travel Advance
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Select the currency provided and the amount required"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-md-7 col-md-7">
									<div class="input-group">
										<select class="input-group-addon form-control" style="width:40%;" name="travel_advance_currency" id="travel_advance_currency" required>{{travel-advance-currency}}</select>
										<input class="form-control" style="width:60%;" pattern="^(0|[1-9][0-9]*)$" value="{{forex_or_advance}}" name="forex_or_advance" id="forex_or_advance" placeholder="Enter advance required" required/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row international">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="onsite_duration">
									Onsite Duration
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Enter the total number of days for which you will be travelling onsite"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-md-7 col-md-7">
									<div class="input-group">
										<input class="form-control" value="{{onsite_duration}}" style="" name="onsite_duration" id="onsite_duration" placeholder="Enter the Onsite Duration" required/>
										<span class="input-group-addon"> Days</span>
									</div>
								</div> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="onsite_contact_number">
									Onsite Contact Number
									<a href="#" data-toggle="tooltip" title="Enter the provided onsite contact number"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-md-7 col-md-7">
									<input class="form-control" value="{{onsite_contact_number}}" name="onsite_contact_number" id="onsite_contact_number" pattern="^[0-9_.+\- \(\)]{5,}$" placeholder="Enter Onsite Contact Number" >
								</div>
							</div>
						</div>
					</div>					
					<div class="row international">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="passport_upload">
									Passport
									<a href="#" data-toggle="tooltip" title="Passport attachment can be a scanned copy of your passport"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-md-7">
									<input type="file" id="passport_upload" name="passport_upload" style="display:none;"/>
									<div class="input-group">
										<input type="text" name="subfile" id="subfile" class="form-control input-xlarge">
										<a class="btn input-group-addon" onclick="$('#passport_upload').click();">Browse</a>
									</div>
									<p class="help-block">(File Types e.g. .jpeg, .png, .pdf)</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="visa_category">
									Visa Type
									<span style="color:red; font-weight:bold;">*</span>
									<a href="#" data-toggle="tooltip" title="Work visa e.g. H1, L1 Business visa e.g. B1"><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-sm-6 col-md-6">
									<select class="form-control" name="visa_category" id="visa_category" required>{{visa_category}}</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4" for="enter_remarks">
									Remarks
									<a href="#" data-toggle="tooltip" title="Any additional comments for your approver."><span class="glyphicon glyphicon-question-sign"></span></a>
								</label>
								<div class="col-md-7">
									<textarea class="form-control" name="enter_remarks" id="enter_remarks" placeholder="Enter Remarks">{{enter_remarks}}</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" style="text-align:left;">
						</div>
						<div class="col-md-6" style="text-align:right;">
							<input name="{{button_name}}" type="submit" class="btn btn-primary" value="Save &amp; Next"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
  </form>