<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travel - {{page-title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/core/media/media.nl?id=34596&c=3883006&h=805fe39ee25afab45d89&_xt=.css"><!-- Bootstrap -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57173&c=3883006&h=7f29b8cee7b2f20b58d6&_xt=.css"><!-- Bootstrap Theme -->
  <link rel="stylesheet" href="/core/media/media.nl?id=57177&c=3883006&h=b471cc11c88188feac19&_xt=.css"><!-- Data Table -->
  <script src="/core/media/media.nl?id=34598&c=3883006&h=d3700b1dca852b6e2a66&_xt=.js"></script><!-- jQuery -->
  <script src="/core/media/media.nl?id=57179&c=3883006&h=c0b97e55c548a213ae8d&_xt=.js"></script><!-- Data Table -->
  <script src="/core/media/media.nl?id=34597&c=3883006&h=44995a0b6c4e935c2c4f&_xt=.js"></script><!-- Bootstrap -->
  <style>
	.to-be-approved
	{
		/*font-weight: bold;*/
	}
	
	#approver-table > thead > tr > th
	{
		color: #fff;
		background-color: #808080;
	}
	
	.navbar
	{
		font-weight:bold;
	}
  </style>
</head>
<body>
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><img src="/core/media/media.nl?id=57180&c=3883006&h=9be30320dbb3dc0c5b2f" height="30px" /></span>
		</div>
        <div id="navbar" class="collapse navbar-collapse">
          
		 
		  <ul class="nav navbar-nav">
			<li><a href="/app/center/card.nl?sc=-29&whence="><span class="glyphicon glyphicon-home"></span> NetSuite</a></li>
			<li><a href="{{new_request_url}}">New Request</a><li>
            <li class="{{my_requests_url_link}}"><a href="{{my_requests_url}}">My Requests</a></li>
            <li class="{{approve_requests_url_link}}"><a href="{{approve_requests_url}}">Approve Requests</a></li>
            <li><a href="#contact">Help</a></li>
			<li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Flow</span></a>
          <ul class="dropdown-menu">
            <li><a href="/core/media/media.nl?id=59041&c=3883006&h=e976d5284c2f158dc99a" target="_blank">Domestic Flow</a></li>  
            <li><a href="/core/media/media.nl?id=59042&c=3883006&h=aa643179b8df28652a96" target="_blank">International Flow</a></li>			
          </ul>
        </li>
          </ul>
		  
		  <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-weight:normal">{{username}}</span> <span style="padding-left:5px;font-weight:normal;" class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu">
            <li><a><span class="glyphicon glyphicon-cloud"></span> {{role}}</a></li>         
            <li role="separator" class="divider"></li>
            <li><a href="/pages/nllogoutnoback.jsp"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </li>
		</ul>  
		  
        </div><!--/.nav-collapse -->
      </div>
</nav>
<div class="container">	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" style="text-align:right;">
						<div class="form-group">
							<label class="control-label" for="status_filter">Status</label>
							<select class="form-control" name="status_filter" id="status_filter">{{search-filter}}</select>
						</div>
					</form>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
						<!-- Table -->
						<table id="approver-table" class="display" cellspacing="0" width="100%">
							{{list}}
						</table>				
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#approver-table')
		.removeClass( 'display' )
		.addClass('table table-striped');
</script>
</body>
</html>

<script>

var all_rows	=	new Array();

$(document).ready(function() {

var table1	=	$('#approver-table').DataTable( {
    "language": {
      "emptyTable": "No travel requests"
    },
	"order": [[ 0, "desc"]]
} );

all_rows	=	table1.rows().nodes();

var approval_status_list = $('#status_filter option').map(function() {return $(this).val();});

all_rows = myFunction(table1, all_rows);

$('#status_filter').change(function(){all_rows	=	myFunction(table1, all_rows);});

});

function myFunction(table1, all_rows) {
    
	//var approval_status_list = $('#status_filter option').map(function() {return $(this).val();});
	
	//all_rows.splice(0, all_rows.length);//new Array();
	
	// Remove All nodes then add required nodes
	table1.rows().remove().draw();
	
	// Add all rows
	table1.rows.add(all_rows);
	
	table1.draw();
	
	// Get the current value
	var val = $('#status_filter').val();
	
	if(val != '')
	{
		// Array to store displayed rows
		var rows_to_keep	=	new Array();
	
		rows_to_keep = table1.rows('.status_' + val).nodes();
	
		// Remove All nodes then add required nodes
		table1.rows().remove().draw();
	
		table1.rows.add(rows_to_keep);
		
		table1.order( [ 0, "desc" ] ).draw();
		
	}
	
	return all_rows;
	
    }


</script>